/***************************************************/
/* Custom */
/***************************************************/

img {
  width: 100%;
}

.inner {
  margin-bottom: 2em;
}

footer {
  margin-top: 3em;
}


.news {
  background-color: @brand-info;
  padding: 6em 0;

}

.navbar-brand img {
  display: inline-block;
}